body {
    font-family: Arial, sans-serif;
    background-color: #f7dff1;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}


img {
    width: 300px;
    height: 300px;
}
.footer {
    font-family: Arial, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightpink;
  color: white;
  text-align: center;
  padding: 10px;
}
.bg-image hover-overlay {
    background: linear-gradient(
        45deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
      );
}